<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>监控配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="./style/myself.css" th:href="@{/style/myself.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
        var tokenValue = /*[[${_csrf.token}]]*/'';
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layadmin-homepage-content">
            <form class="layui-form" lay-filter="">
                <div class="layui-card">
                    <div class="layui-card-header div-font-weight">设置</div>
                    <div class="layui-card-body" pad20>
                        <div class="layui-card">
                            <div class="layui-card-header div-font-weight">监控</div>
                            <div class="layui-card-body" pad20>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">阈值</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="threshold" th:value="${num}" th:title="${num}"
                                               th:each="num, numStat : ${#numbers.sequence(1,10)}"
                                               th:checked="${monitorConfig.threshold==num}? true : false">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">1到10，共10级，值越小监控越灵敏</div>
                                </div>
                                <div class="layui-card">
                                    <div class="layui-card-header div-font-weight">网络</div>
                                    <div class="layui-card-body" pad20>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="text-align: left;">是否监控</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" name="netEnable" lay-text="是|否"
                                                       th:value=1 lay-skin="switch"
                                                       th:checked="${monitorConfigNet.enable==1}? true : false">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card">
                                    <div class="layui-card-header div-font-weight">告警</div>
                                    <div class="layui-card-body" pad20>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="text-align: left;">是否告警</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" name="alarmEnable" lay-text="是|否"
                                                       th:value=1 lay-skin="switch"
                                                       th:checked="${monitorConfigAlarm.enable==1}? true : false">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="text-align: left;">级别</label>
                                            <div class="layui-input-block">
                                                <input type="radio" name="alarmLevel" value="INFO" title="INFO"
                                                       th:checked="${monitorConfigAlarm.level=='INFO'}? true : false">
                                                <input type="radio" name="alarmLevel" value="WARN" title="WARN"
                                                       th:checked="${monitorConfigAlarm.level=='WARN'}? true : false">
                                                <input type="radio" name="alarmLevel" value="ERROR" title="ERROR"
                                                       th:checked="${monitorConfigAlarm.level=='ERROR'}? true : false">
                                                <input type="radio" name="alarmLevel" value="FATAL" title="FATAL"
                                                       th:checked="${monitorConfigAlarm.level=='FATAL'}? true : false">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="text-align: left;">方式</label>
                                            <div class="layui-input-block">
                                                <input type="radio" name="alarmWay" value="MAIL" title="邮件"
                                                       th:checked="${monitorConfigAlarm.way=='MAIL'}? true : false">
                                                <input type="radio" name="alarmWay" value="SMS" title="短信"
                                                       th:checked="${monitorConfigAlarm.way=='SMS'}? true : false">
                                            </div>
                                        </div>
                                        <div class="layui-card">
                                            <div class="layui-card-header div-font-weight">邮件</div>
                                            <div class="layui-card-body" pad20>
                                                <div class="layui-form-item layui-form-text">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">收件人邮箱</label>
                                                    <div class="layui-input-block">
                                                        <textarea name="alarmMailEmills" class="layui-textarea"
                                                                  lay-verify="required" lay-verType="tips"
                                                                  th:text="${monitorConfigAlarmMail.emills}"></textarea>
                                                        <div class="layui-form-mid layui-word-aux">收件人邮箱地址，多个邮箱地址用英文分号隔开
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card">
                                            <div class="layui-card-header div-font-weight">短信</div>
                                            <div class="layui-card-body" pad20>
                                                <div class="layui-form-item layui-form-text">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">收信人号码</label>
                                                    <div class="layui-input-block">
                                                        <textarea name="alarmSmsPhoneNumbers" class="layui-textarea"
                                                                  lay-verify="required" lay-verType="tips"
                                                                  th:text="${monitorConfigAlarmSms.phoneNumbers}"></textarea>
                                                        <div class="layui-form-mid layui-word-aux">收信人手机号码，多个手机号码用英文分号隔开
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">接口地址</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="alarmSmsAddress" class="layui-input"
                                                               lay-verify="url" lay-verType="tips"
                                                               th:value="${monitorConfigAlarmSms.address}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">接口协议</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="alarmSmsProtocol"
                                                               th:value="${monitorConfigAlarmSms.protocol}"
                                                               th:title="${monitorConfigAlarmSms.protocol}"
                                                               th:checked="${monitorConfigAlarmSms.protocol=='HTTP'}? true : false">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">接口企业</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="alarmSmsEnterprise"
                                                               th:value="${monitorConfigAlarmSms.enterprise}"
                                                               th:title="${monitorConfigAlarmSms.enterprise}"
                                                               th:checked="${monitorConfigAlarmSms.enterprise=='transfar'}? true : false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card">
                                    <div class="layui-card-header div-font-weight">服务器</div>
                                    <div class="layui-card-body" pad20>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label" style="text-align: left;">是否监控</label>
                                            <div class="layui-input-inline">
                                                <input type="checkbox" name="serverEnable" lay-text="是|否"
                                                       th:value=1 lay-skin="switch"
                                                       th:checked="${monitorConfigServer.enable==1}? true : false">
                                            </div>
                                        </div>
                                        <div class="layui-card">
                                            <div class="layui-card-header div-font-weight">CPU</div>
                                            <div class="layui-card-body" pad20>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">过载阈值(%)</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="serverCpuOverloadThreshold"
                                                               class="layui-input"
                                                               lay-verify="number" lay-verType="tips"
                                                               th:value="${monitorConfigServerCpu.overloadThreshold}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label" style="text-align: left;">级别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="serverCpuLevel" value="INFO"
                                                               title="INFO"
                                                               th:checked="${monitorConfigServerCpu.level=='INFO'}? true : false">
                                                        <input type="radio" name="serverCpuLevel" value="WARN"
                                                               title="WARN"
                                                               th:checked="${monitorConfigServerCpu.level=='WARN'}? true : false">
                                                        <input type="radio" name="serverCpuLevel" value="ERROR"
                                                               title="ERROR"
                                                               th:checked="${monitorConfigServerCpu.level=='ERROR'}? true : false">
                                                        <input type="radio" name="serverCpuLevel" value="FATAL"
                                                               title="FATAL"
                                                               th:checked="${monitorConfigServerCpu.level=='FATAL'}? true : false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card">
                                            <div class="layui-card-header div-font-weight">内存</div>
                                            <div class="layui-card-body" pad20>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">过载阈值(%)</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="serverMemoryOverloadThreshold"
                                                               class="layui-input"
                                                               lay-verify="number" lay-verType="tips"
                                                               th:value="${monitorConfigServerMemory.overloadThreshold}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label" style="text-align: left;">级别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="serverMemoryLevel" value="INFO"
                                                               title="INFO"
                                                               th:checked="${monitorConfigServerMemory.level=='INFO'}? true : false">
                                                        <input type="radio" name="serverMemoryLevel" value="WARN"
                                                               title="WARN"
                                                               th:checked="${monitorConfigServerMemory.level=='WARN'}? true : false">
                                                        <input type="radio" name="serverMemoryLevel" value="ERROR"
                                                               title="ERROR"
                                                               th:checked="${monitorConfigServerMemory.level=='ERROR'}? true : false">
                                                        <input type="radio" name="serverMemoryLevel" value="FATAL"
                                                               title="FATAL"
                                                               th:checked="${monitorConfigServerMemory.level=='FATAL'}? true : false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card">
                                            <div class="layui-card-header div-font-weight">磁盘</div>
                                            <div class="layui-card-body" pad20>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label"
                                                           style="text-align: left;">过载阈值(%)</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="serverDiskOverloadThreshold"
                                                               class="layui-input"
                                                               lay-verify="number" lay-verType="tips"
                                                               th:value="${monitorConfigServerDisk.overloadThreshold}">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label" style="text-align: left;">级别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="serverDiskLevel" value="INFO"
                                                               title="INFO"
                                                               th:checked="${monitorConfigServerDisk.level=='INFO'}? true : false">
                                                        <input type="radio" name="serverDiskLevel" value="WARN"
                                                               title="WARN"
                                                               th:checked="${monitorConfigServerDisk.level=='WARN'}? true : false">
                                                        <input type="radio" name="serverDiskLevel" value="ERROR"
                                                               title="ERROR"
                                                               th:checked="${monitorConfigServerDisk.level=='ERROR'}? true : false">
                                                        <input type="radio" name="serverDiskLevel" value="FATAL"
                                                               title="FATAL"
                                                               th:checked="${monitorConfigServerDisk.level=='FATAL'}? true : false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="config-info">保存
                                </button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/common.js" th:src="@{/js/common.js}" charset="utf-8"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script charset="utf-8" th:inline="javascript">
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'element', 'form'], function () {
        var admin = layui.admin;
        var form = layui.form;
        form.render();
        // 监听信息提交
        form.on('submit(config-info)', function (data) {
            // 修改用户信息
            admin.req({
                type: 'post',
                url: ctxPath + 'monitor-config/update-monitor-config',
                data: data.field,
                dataType: 'json',
                headers: {
                    [[${_csrf.headerName}]]: [[${_csrf.token}]]
                },
                success: function (result) {
                    var data = result.data;
                    if (data === webConst.SUCCESS) {
                        layer.msg('保存成功！', {icon: 6});
                    } else {
                        layer.msg('保存失败！', {icon: 5, shift: 6});
                    }
                },
                error: function () {
                    layer.msg('系统错误！', {icon: 5, shift: 6});
                }
            });
            return false;
        });
    });
</script>
</body>
</html>