<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>home页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="./style/myself.css" th:href="@{/style/myself.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
        var tokenValue = /*[[${_csrf.token}]]*/'';
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    应用程序
                    <span class="layui-badge layui-bg-blue layuiadmin-badge">个</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">[[${homeInstanceVo.instanceSum}]]
                        <i class="home-i">[[${homeInstanceVo.instanceOnLineRate}]]
                            <img th:src="@{/images/icon16/percentage-16.png}"></i>
                    </p>
                    <p>
                        在线
                        <span class="layuiadmin-span-color">[[${homeInstanceVo.instanceOnLineSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/on-line-16.png}"></i></span>
                    </p>
                    <p>
                        离线
                        <span class="layuiadmin-span-color">[[${homeInstanceVo.instanceOffLineSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/off-line-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    服务器
                    <span class="layui-badge layui-bg-black layuiadmin-badge">台</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font layuiadmin-big-font-my" th:text="${homeServerVo.serverSum}"></p>
                    <p>
                        Windows
                        <span class="layuiadmin-span-color">[[${homeServerVo.windowsSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/windows-16.png}"></i></span>
                    </p>
                    <p>
                        Linux
                        <span class="layuiadmin-span-color">[[${homeServerVo.linuxSum}]]<i
                                class="layui-inline layui-icon"><img th:src="@{/images/icon16/linux-16.png}"></i></span>
                    </p>
                    <p>
                        其他
                        <span class="layuiadmin-span-color">[[${homeServerVo.linuxSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/other-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    WEB服务器
                    <span class="layui-badge layuiadmin-badge layui-bg-blue">个</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font layuiadmin-big-font-my" th:text="${homeServerVo.serverSum}"></p>
                    <p>
                        Tomcat
                        <span class="layuiadmin-span-color">[[${homeServerVo.windowsSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/tomcat-16.png}"></i></span>
                    </p>
                    <p>
                        Undertow
                        <span class="layuiadmin-span-color">[[${homeServerVo.linuxSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/undertow-16.png}"></i></span>
                    </p>
                    <p>
                        其他
                        <span class="layuiadmin-span-color">[[${homeServerVo.linuxSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/other-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    数据库
                    <span class="layui-badge layui-bg-green layuiadmin-badge">个</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">

                    <p class="layuiadmin-big-font">999,666</p>
                    <p>
                        正常
                        <span class="layuiadmin-span-color">*** <i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/normal-16.png}"></i></span>
                    </p>
                    <p>
                        异常
                        <span class="layuiadmin-span-color">*** <i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/exception-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    IP
                    <span class="layui-badge layui-bg-orange layuiadmin-badge">个</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">[[${homeNetVo.netSum}]]
                        <i class="home-i">[[${homeNetVo.netConnectRate}]]
                            <img th:src="@{/images/icon16/percentage-16.png}"></i>
                    </p>
                    <p>
                        正常
                        <span class="layuiadmin-span-color">[[${homeNetVo.netConnectSum}]]<i
                                class="layui-inline layui-icon"><img th:src="@{/images/icon16/net-connect-16.png}"></i></span>
                    </p>
                    <p>
                        断网
                        <span class="layuiadmin-span-color">[[${homeNetVo.netDisconnectSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/net-disconnect-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md2">
            <div class="layui-card">
                <div class="layui-card-header">
                    告警信息
                    <span class="layui-badge layui-bg-red layuiadmin-badge">次</span>
                </div>
                <div class="layui-card-body layuiadmin-card-list">
                    <p class="layuiadmin-big-font">[[${homeAlarmRecordVo.alarmRecordSum}]]
                        <i class="home-i">[[${homeAlarmRecordVo.alarmSucRate}]]
                            <img th:src="@{/images/icon16/percentage-16.png}"></i>
                    </p>
                    <p>
                        成功
                        <span class="layuiadmin-span-color">[[${homeAlarmRecordVo.alarmRecordSuccessSum}]]<i
                                class="layui-inline layui-icon"><img
                                th:src="@{/images/icon16/success-16.png}"></i></span>
                    </p>
                    <p>
                        失败
                        <span class="layuiadmin-span-color">[[${homeAlarmRecordVo.alarmRecordFailSum}]]<i
                                class="layui-inline layui-icon"><img th:src="@{/images/icon16/fail-16.png}"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm8">
            <div class="layui-card">
                <div class="layui-card-header">
                    告警
                </div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="LAY-index-dataview">
                        <div carousel-item>
                            <div class="layui-row" id="last-7-days-alarm-record-statistics"></div>
                            <div class="layui-row" id="alarm-record-type-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-sm4">
            <div class="layui-card">
                <div class="layui-card-header">
                    服务器
                </div>
                <div class="layui-card-body">
                    <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade"
                         lay-filter="LAY-index-dataview">
                        <div carousel-item>
                            <div class="layui-row"></div>
                            <div class="layui-row"></div>
                            <div class="layui-row"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script src="./js/echarts.theme.infographic.js" th:src="@{/js/echarts.theme.infographic.js}"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'home']);
</script>
</body>
</html>