<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>WATCHDOG</title>
    <link rel="icon" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="shortcut icon" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" href="./css/login.css" th:href="@{/css/login.css}"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var ctxPath = /*[[@{/}]]*/;
        /*]]>*/
    </script>
</head>

<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>WATCHDOG监控平台登录</h3>
        <div class="m-login-warp">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label>
                        <input type="text" name="username" required lay-verify="username" placeholder="用户名"
                               autocomplete="on" class="layui-input">
                    </label>
                </div>
                <div class="layui-form-item">
                    <label>
                        <input type="password" name="password" required lay-verify="password" placeholder="密码"
                               autocomplete="on" class="layui-input">
                    </label>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label>
                            <input type="text" name="verity" required lay-verify="verity" placeholder="验证码"
                                   autocomplete="off" class="layui-input">
                        </label>
                    </div>
                    <div class="layui-inline">
                        <img class="verifyImg" onclick="this.src=this.src+'?c='+Math.random();"
                             src="./images/login/yzm.jpg" th:src="@{/images/login/yzm.jpg}" alt="验证码"/>
                    </div>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="dologin">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2015-2020 by PIFENG</p>
    </div>
</div>
<script src="./lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script src="./js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}" type="text/javascript"
        charset="utf-8"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form(),
            layer = layui.layer;
        //自定义验证规则
        form.verify({
            username: function (value) {
                if (value.length < 5) {
                    return '用户名至少5位！';
                }
            },
            password: function (value) {
                if (value.length < 8) {
                    return '密码至少8位！';
                }
            },
            verity: function (value) {
                if (value.length != 6) {
                    return '验证码必须是6位!';
                }
            }
        });
        //监听提交
        form.on('submit(dologin)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
            $.ajax({
                type: 'POST',
                url: ctxPath + 'dologin',
                data: JSON.stringify(data.field),
                dataType: 'json',
                success: function (response) {
                    layer.msg('登录成功！');
                    location.href = ctxPath + "index";
                },
                error: function (jqXHR) {
                    layer.msg('登录失败！');
                }
            });
            return false;
        });
    });
</script>
</body>

</html>