<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>WATCHDOG</title>
    <link rel="icon" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="shortcut icon" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="bookmark" href="./images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./css/login.css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" href="./lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}"/>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script src="./js/jquery-1.11.2.min.js" th:src="@{/js/jquery-1.11.2.min.js}"></script>
    <script src="./lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            layui.use('form', function () {
                var form = layui.form();
                //自定义验证规则
                form.verify({
                    account: function (value) {
                        if (value.length === 0) {
                            return '账号不能为空！';
                        }
                    },
                    password: function (value) {
                        if (value.length === 0) {
                            return '密码不能为空！';
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="m-login-bg">
    <div class="m-login">
        <h3>WATCHDOG监控平台登录</h3>
        <div class="m-login-warp">
            <form class="layui-form" th:action="@{/doLogin}" method="post">
                <div class="layui-form-item">
                    <input type="text" name="account" required placeholder="账号"
                           autocomplete="on" class="layui-input" lay-verify="account">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" required placeholder="密码"
                           autocomplete="on" class="layui-input" lay-verify="password">
                </div>
                <div class="layui-form-item" th:if="${param.error}">
                    <label style="color: red;">
                        账号或密码错误，请重新输入！
                    </label>
                </div>
                <div class="layui-form-item" th:if="${param.logout}">
                    <label style="color: red;">
                        退出登录成功，请重新登录！
                    </label>
                </div>
                <div class="layui-form-item">
                    <input type="checkbox" name="remember" title="记住我" checked>
                </div>
                <div class="layui-form-item m-login-btn">
                    <div class="layui-inline">
                        <button type="submit" lay-submit class="layui-btn layui-btn-normal">登录</button>
                    </div>
                    <div class="layui-inline">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
        <p class="copyright">Copyright 2020-2025 by PIFENG</p>
    </div>
</div>
</body>
</html>