<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.server.business.server.dao.IMonitorAlarmRecordDao">

    <!-- 根据条件获取静默告警记录数 -->
    <select id="getSilenceAlarmCount" resultType="java.lang.Integer" databaseId="mysql">
        SELECT COUNT(ID) AS num
        FROM MONITOR_ALARM_RECORD
        WHERE NOT_SEND_REASON = '静默告警'
        <if test="startTime!=null">
            AND INSERT_TIME <![CDATA[>=]]> #{startTime}
        </if>
        <if test="endTime!=null">
            AND INSERT_TIME <![CDATA[<=]]> #{endTime}
        </if>
    </select>

</mapper>