<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>告警记录详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <!-- <div class="layui-card-header">折叠面板</div>-->
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="component-panel">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警类型</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${monitorAlarmRecordInfo.type}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警方式</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${monitorAlarmRecordInfo.way}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警级别</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${monitorAlarmRecordInfo.level}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警标题</h2>
                    <div class="layui-colla-content layui-show">
                        <p style="word-wrap:break-word;" th:text="${monitorAlarmRecordInfo.title}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警内容</h2>
                    <div class="layui-colla-content layui-show">
                        <p style="word-wrap:break-word;" th:utext="${monitorAlarmRecordInfo.content}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">状态</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${monitorAlarmRecordInfo.status}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">号码</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${monitorAlarmRecordInfo.number}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">告警时间</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${#dates.format(monitorAlarmRecordInfo.insertTime,'yyyy/MM/dd HH:mm:ss')}"></p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">更新时间</h2>
                    <div class="layui-colla-content layui-show">
                        <p th:text="${#dates.format(monitorAlarmRecordInfo.updateTime,'yyyy/MM/dd HH:mm:ss')}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/common.js" th:src="@{/js/common.js}" charset="utf-8"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script charset="utf-8" th:inline="javascript">
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index']);
</script>
</body>
</html>