<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加监控分组</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/myself.css" th:href="@{/style/myself.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="../../static/js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="../../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
    </script>
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 20px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label" for="groupType">分组类型</label>
        <div class="layui-input-block">
            <select id="groupType" name="groupType">
                <option value="">所有</option>
                <option value="SERVER">服务器</option>
                <option value="INSTANCE">应用程序</option>
                <option value="DATABASE">数据库</option>
                <option value="NET">网络</option>
                <option value="TCP4SERVICE">TCP服务</option>
                <option value="HTTP4SERVICE">HTTP服务</option>
                <option value="CUSTOM">自定义</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="groupName">分组名称</label>
        <div class="layui-input-block">
            <input type="text" id="groupName" name="groupName" lay-verify="required" placeholder="请输入分组名称"
                   autocomplete="off" class="layui-input" lay-verType="tips">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label" for="groupDesc">分组描述</label>
        <div class="layui-input-block">
            <textarea id="groupDesc" name="groupDesc" class="layui-textarea" placeholder="请输入分组描述"
                      autocomplete="off" lay-verify="required" lay-verType="tips"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-group-front-submit" id="LAY-group-front-submit" value="确认">
    </div>
</div>
<script src="../../static/js/common.js" th:src="@{/js/common.js}" charset="utf-8"></script>
<script src="../../static/js/md5.js" th:src="@{/js/md5.js}"></script>
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
    });
</script>
</body>
</html>