/.idea/
/.settings/
*.project
*.iml
/target/*
*.classpath
*.class
/monitoring-plug-core/target/
/monitoring-agent/target/
/monitoring-common/target/
/monitoring-common-web/target/
/monitoring-server-web/target/
/monitoring-common/.sts4-cache/
/monitoring-server-web/.settings/
/monitoring-plug-core/.settings/
/monitoring-common/.settings/
/monitoring-agent/.settings/
/monitoring-server-web/logs/
/monitoring-agent/logs/
/monitoring-plug-core/tmp/
/monitoring-agent/tmp/
/monitoring-server-web/tmp/
/tmp/
/logs/
/monitoring-plug-core-spring-boot-starter/.settings/
/monitoring-plug-core-spring-boot-starter/target/
/monitoring-plug-core-spring-mvc-integrator/.settings/
/monitoring-plug-core-spring-mvc-integrator/target/
/ini/
/monitoring-server-web/ini/
/persistent-monitoring/
