##############################################server配置#################################################
server:
  port: 16000


###############################################数据源配置##################################################
spring:
  datasource:
    druid:
      #数据源配置
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/phoenix?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&failOverReadOnly=false&rewriteBatchedStatements=true&socketTimeout=30000&connectTimeout=5000
      username: root
      password: 123456


  #############################################电子邮件配置###############################################
  mail:
    host: smtp.qq.com
    username:
    password:
    protocol: smtp
    default-encoding: UTF-8
    port: 465
    properties:
      mail:
        debug: false
        smtp:
          auth: true
          ssl:
            enabled: true
          starttls:
            enable: true
            required: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false