<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>操作日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
        var authority = [[${#authorization.expression('hasAuthority("超级管理员")')}]];
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form-item" onsubmit="return false;">
                <div class="layui-inline">
                    <label class="layui-form-label">功能模块</label>
                    <div class="layui-input-block">
                        <input type="text" name="operModule" placeholder="请输入" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">操作描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="operDesc" placeholder="请输入" autocomplete="on" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">操作类型</label>
                    <div class="layui-input-block">
                        <select name="operType">
                            <option value="">所有</option>
                            <option value="登录">登录</option>
                            <option value="新增">新增</option>
                            <option value="更新">更新</option>
                            <option value="删除">删除</option>
                            <option value="查询">查询</option>
                            <option value="导出">导出</option>
                            <option value="访问页面">访问页面</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">日期范围</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="insertTime" name="insertTime" autocomplete="off"
                               placeholder=" ~ ">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="list-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button id="reset" type="reset" class="layui-btn">清空</button>
                </div>
            </form>
        </div>

        <div class="layui-card-body">
            <table id="list-table" lay-filter="list-table"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.avatar }}>
            </script>
            <script type="text/html" id="list-table-toolbar">
                <div class="layui-btn-container" sec:authorize="hasAuthority('超级管理员')">
                    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchdel">
                        <i class="layui-icon layui-icon-delete"></i>删除
                    </button>
                </div>
            </script>
            <script type="text/html" id="list-table-toolbar-detail">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="info">
                    <i class="layui-icon layui-icon-about"></i>详情</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
                   sec:authorize="hasAuthority('超级管理员')">
                    <i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
<script src="./js/common.js" th:src="@{/js/common.js}" charset="utf-8"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script charset="utf-8" th:inline="javascript">
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'laydate'], function () {
        var $ = layui.$, admin = layui.admin, form = layui.form, table = layui.table, laydate = layui.laydate,
            device = layui.device();
        laydate.render({
            elem: '#insertTime',
            type: 'date',
            range: '~'
        });
        table.render({
            elem: '#list-table',
            url: ctxPath + 'monitor-log-operation/get-monitor-log-operation-list',
            toolbar: '#list-table-toolbar',
            request: {
                pageName: 'current',//页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200,//规定成功的状态码，默认：0
                msgName: 'msg',//规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    'code': res.code, //解析接口状态
                    'msg': res.msg, //解析提示文本
                    'count': res.data.total, //解析数据长度
                    'data': res.data.records //解析数据列表
                };
            },
            cols: [
                [{
                    type: 'checkbox',
                    hide: !authority
                }, {
                    field: 'id',
                    width: 100,
                    title: 'ID',
                    sort: !0,
                    hide: true
                }, {
                    field: 'operType',
                    title: '操作类型',
                    minWidth: 50,
                    sort: !0
                }, {
                    field: 'operMethod',
                    title: '操作方法',
                    minWidth: 180,
                    sort: !0
                }, {
                    field: 'operModule',
                    title: '功能模块',
                    minWidth: 80,
                    sort: !0
                }, {
                    field: 'operDesc',
                    title: '操作描述',
                    minWidth: 180,
                    sort: !0
                }, {
                    field: 'uri',
                    title: 'URI',
                    minWidth: 180,
                    sort: !0
                }, {
                    field: 'ip',
                    title: '请求IP',
                    minWidth: 150,
                    sort: !0
                }, {
                    field: 'username',
                    title: '操作用户',
                    minWidth: 50,
                    sort: !0
                }, {
                    field: 'insertTime',
                    title: '时间',
                    minWidth: 170,
                    sort: !0
                }, {
                    title: '操作',
                    width: 160,
                    align: 'center',
                    fixed: (device.ios || device.android) ? false : 'right',
                    toolbar: '#list-table-toolbar-detail'
                }]
            ],
            page: !0,
            limit: 15,
            height: 'full-150'
        });
        //监听搜索
        form.on('submit(list-table-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('list-table', {
                where: field
            });
        });
        // 点击表头排序
        table.on('sort(list-table)', function (obj) {
            table.reload('list-table', {
                initSort: obj
            });
        });
        //头工具栏事件
        table.on('toolbar(list-table)', function (obj) {
            switch (obj.event) {
                case 'batchdel':
                    var checkStatus = table.checkStatus('list-table'), checkData = checkStatus.data; //得到选中的数据
                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function (index) {
                        admin.req({
                            type: 'delete',
                            url: ctxPath + 'monitor-log-operation/delete-monitor-log-operation',
                            data: JSON.stringify(checkStatus.data),
                            dataType: 'json',
                            contentType: 'application/json;charset=utf-8',
                            headers: {
                                [[${_csrf.headerName}]]: [[${_csrf.token}]]
                            },
                            success: function (result) {
                                var data = result.data;
                                if (data === webConst.SUCCESS) {
                                    table.reload('list-table'); //数据刷新
                                    layer.msg('删除成功！', {icon: 6});
                                } else {
                                    layer.msg('删除失败！', {icon: 5, shift: 6});
                                }
                            },
                            error: function () {
                                layer.msg('系统错误！', {icon: 5, shift: 6});
                            }
                        });
                    });
                    break;
            }
        });
        //监听工具条
        table.on('tool(list-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除吗？', function (index) {
                    admin.req({
                        type: 'delete',
                        url: ctxPath + 'monitor-log-operation/delete-monitor-log-operation',
                        data: JSON.stringify([data]),
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        headers: {
                            [[${_csrf.headerName}]]: [[${_csrf.token}]]
                        },
                        success: function (result) {
                            var data = result.data;
                            if (data === webConst.SUCCESS) {
                                obj.del();
                                table.reload('list-table'); //数据刷新
                                layer.msg('删除成功！', {icon: 6});
                            } else {
                                layer.msg('删除失败！', {icon: 5, shift: 6});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误！', {icon: 5, shift: 6});
                        }
                    });
                });
            }
            if (obj.event === 'info') {
                // 宽度
                var width;
                // 高度
                var height;
                // 移动端
                if (device.ios || device.android) {
                    // 宽度
                    width = document.body.clientWidth * 0.8 + 'px';
                    // 高度
                    height = document.body.clientHeight * 0.55 + 'px';
                } else {
                    // 宽度
                    width = document.body.clientWidth * 0.8 + 'px';
                    // 高度
                    height = document.body.clientHeight * 0.8 + 'px';
                }
                layer.open({
                    type: 2,
                    title: '操作日志详情',
                    content: ctxPath + 'monitor-log-operation/monitor-log-operation-detail?id=' + data.id,
                    maxmin: true,
                    shade: 0,
                    moveOut: true,
                    area: [width, height],
                    success: function (layero, index) {
                        // 在回调方法中的第2个参数“index”表示的是当前弹窗的索引
                        // 通过layer.full方法将窗口放大
                        layer.full(index);
                    }
                });
            }
        });
    });
</script>
</body>
</html>