/* 自定义滚动条轨道样式 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* 自定义滚动条滑块样式 */
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

/* 移动端滚动条样式 */
@media (max-width: 768px) {
    /* 自定义滚动条边框样式 */
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: #f1f1f1;
    }
}

/* 在大屏幕上应用样式 */
@media (min-width: 768px) {
    /* 自定义滚动条边框样式 */
    ::-webkit-scrollbar {
        width: 3px;
        height: 10px;
        background-color: #f1f1f1;
    }
}

.home-i {
    font-size: 15px;
    float: right;
}

.layui-icon-server {
    background-image: url("../images/icon16/server-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-icon-log-my {
    background-image: url("../images/icon16/log-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-icon-db {
    background-image: url("../images/icon16/database-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-icon-tcp {
    background-image: url("../images/icon16/tcp-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-icon-http {
    background-image: url("../images/icon16/http-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-form-item-my {
    margin-left: 40px;
}

.layui-tab-content-my {
    padding: 0 !important;
}

.layui-table-page-my {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 37px !important;
    padding: 0 !important;
    color: #666 !important;
}

.layuiadmin-big-font-my {
    line-height: 12px !important;
    font-size: 25px !important;
}

.layuiadmin-card-list-my {
    padding: 10px;
}

.layadmin-dataview-my-330px {
    height: 330px !important;
}

.layadmin-dataview-my-650px {
    height: 650px !important;
}

.layadmin-dataview-my-660px {
    height: 660px !important;
}

.layadmin-dataview-my-292px {
    height: 292px !important;
}

.layadmin-dataview-my-270px {
    height: 270px !important;
}

.layadmin-dataview-my-270px-text {
    text-align: center !important;
    line-height: 270px !important;
    font-size: xx-large;;
}

.layadmin-dataview-my-550px {
    height: 550px !important;
}

.layadmin-dataview-my-170px {
    height: 170px;
}

.layui-card-header-my {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.label-font-weight {
    font-weight: 600;
}

.div-font-weight {
    font-weight: 600;
}

.layadmin-takerates-my {
    padding-top: 5px;
}

.layadmin-takerates-my .layui-progress {
    margin: 50px 0 60px;
}

.layadmin-takerates-my .layui-progress h3 {
    position: absolute;
    left: 0;
    top: -35px;
    color: #999;
    font-size: 14px;
}

.layui-bg-skyblue {
    background-color: #87CEEB;
}

.hr-padding {
    padding: 0px;
}

.layui-bg-skyblue-my {
    background-color: #87CEEB;
    color: #fff !important;
}

.layui-colla-title-my {
    height: 30px !important;
    line-height: 30px !important;
    word-break: break-all !important;
    background-color: #fefefe !important;
}

.background-color-none-my {
    background-color: transparent !important;
}

body .layui-layer-class-my .layui-layer-btn .layui-layer-btn1 {
    background: #009688;
    color: #fff;
}

.config-strong {
    width: 100%;
    color: red;
    display: table-cell;
    position: relative;
    padding: 9px 15px;
    line-height: 20px;
}

/* 在大屏幕上应用样式 */
@media (min-width: 768px) {
    .last-alarm-layui-card-body {
        height: 85vh;
        overflow-y: auto;
    }
}
