<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.ui.business.web.dao.IMonitorServerDao">
    <!-- 服务器在线率统计 -->
    <select id="getServerOnlineRateStatistics" resultType="java.util.Map" databaseId="mysql">
        SELECT tmp.serverSum                                                         AS serverSum,
               tmp.serverOnLineSum                                                   AS serverOnLineSum,
               tmp.serverOffLineSum                                                  AS serverOffLineSum,
               tmp.serverUnknownLineSum                                              AS serverUnknownLineSum,
               IFNULL(ROUND(tmp.serverOnLineSum * 100 / tmp.serverSum, 2), '100.00') AS serverOnLineRate
        FROM (SELECT COUNT(1)                                                     AS serverSum,
                     IFNULL(SUM(CASE WHEN ms.IS_ONLINE = 1 THEN 1 ELSE 0 END), 0) AS serverOnLineSum,
                     IFNULL(SUM(CASE WHEN ms.IS_ONLINE = 0 THEN 1 ELSE 0 END), 0) AS serverOffLineSum,
                     IFNULL(SUM(CASE WHEN ms.IS_ONLINE IS NULL OR ms.IS_ONLINE = '' THEN 1 ELSE 0 END),
                            0)                                                    AS serverUnknownLineSum
              FROM MONITOR_SERVER ms) tmp
    </select>

    <!-- 获取服务器列表 -->
    <select id="getMonitorServerList" databaseId="mysql"
            resultType="com.gitee.pifeng.monitoring.ui.business.web.vo.MonitorServerVo">
        SELECT S.*,
        O.OS_NAME,
        CAST(AVG(1 - CPU.CPU_IDLE)*100 AS DECIMAL(10, 2)) AS CPU_USER_PERCENT,
        CAST(AVG(MEMORY.MEN_USED_PERCENT)*100 AS DECIMAL(10, 2)) AS MEN_USED_PERCENT,
        NETCARD.DOWNLOAD_BPS,
        NETCARD.UPLOAD_BPS,
        AVERAGE.FIFTEEN AS LOAD_AVERAGE
        FROM MONITOR_SERVER S
        LEFT JOIN MONITOR_SERVER_OS O ON O.IP =S.IP
        LEFT JOIN MONITOR_SERVER_CPU CPU ON CPU.IP = S.IP
        LEFT JOIN MONITOR_SERVER_MEMORY MEMORY ON MEMORY.IP = S.IP
        LEFT JOIN (SELECT IP, ADDRESS, MAX( DOWNLOAD_BPS ) AS DOWNLOAD_BPS, MAX( UPLOAD_BPS ) AS UPLOAD_BPS FROM
        MONITOR_SERVER_NETCARD GROUP BY IP, ADDRESS ) NETCARD ON (NETCARD.IP = S.IP AND NETCARD.ADDRESS = S.IP)
        LEFT JOIN MONITOR_SERVER_LOAD_AVERAGE AVERAGE ON AVERAGE.IP=S.IP
        <where>
            <if test="criteria.ip!=null and criteria.ip!=''">
                AND S.IP LIKE concat('%',#{criteria.ip},'%')
            </if>
            <if test="criteria.serverName!=null and criteria.serverName!=''">
                AND S.SERVER_NAME LIKE concat('%',#{criteria.serverName},'%')
            </if>
            <if test="criteria.isOnline!=null and criteria.isOnline!=''">
                <choose>
                    <when test="criteria.isOnline=='-1'">
                        AND S.IS_ONLINE IS NULL
                    </when>
                    <otherwise>
                        AND S.IS_ONLINE=#{criteria.isOnline}
                    </otherwise>
                </choose>
            </if>
            <if test="criteria.monitorEnv!=null and criteria.monitorEnv!=''">
                AND S.MONITOR_ENV = #{criteria.monitorEnv}
            </if>
            <if test="criteria.monitorGroup!=null and criteria.monitorGroup!=''">
                AND S.MONITOR_GROUP = #{criteria.monitorGroup}
            </if>
            <if test="criteria.osName!=null and criteria.osName!=''">
                AND O.OS_NAME LIKE concat('%',#{criteria.osName},'%')
            </if>
            <if test="criteria.serverSummary!=null and criteria.serverSummary!=''">
                AND S.SERVER_SUMMARY LIKE concat('%',#{criteria.serverSummary},'%')
            </if>
        </where>
        GROUP BY S.ID,
        S.IP,
        S.SERVER_NAME,
        S.SERVER_SUMMARY,
        S.IS_ONLINE,
        S.CONN_FREQUENCY,
        S.INSERT_TIME,
        S.UPDATE_TIME,
        O.OS_NAME,
        NETCARD.DOWNLOAD_BPS,
        NETCARD.UPLOAD_BPS,
        AVERAGE.FIFTEEN
        ORDER BY S.ID
    </select>

    <!-- 获取服务器列表 -->
    <select id="getMonitorServers" databaseId="mysql"
            resultType="com.gitee.pifeng.monitoring.ui.business.web.vo.MonitorServerVo">
        SELECT S.*,
               O.OS_NAME,
               CAST(AVG(1 - CPU.CPU_IDLE) * 100 AS DECIMAL(10, 2))        AS CPU_USER_PERCENT,
               CAST(AVG(MEMORY.MEN_USED_PERCENT) * 100 AS DECIMAL(10, 2)) AS MEN_USED_PERCENT,
               NETCARD.DOWNLOAD_BPS,
               NETCARD.UPLOAD_BPS,
               AVERAGE.FIFTEEN                                            AS LOAD_AVERAGE
        FROM MONITOR_SERVER S
                 LEFT JOIN MONITOR_SERVER_OS O ON O.IP = S.IP
                 LEFT JOIN MONITOR_SERVER_CPU CPU ON CPU.IP = S.IP
                 LEFT JOIN MONITOR_SERVER_MEMORY MEMORY ON MEMORY.IP = S.IP
                 LEFT JOIN (SELECT IP, ADDRESS, MAX(DOWNLOAD_BPS) AS DOWNLOAD_BPS, MAX(UPLOAD_BPS) AS UPLOAD_BPS
                            FROM MONITOR_SERVER_NETCARD
                            GROUP BY IP, ADDRESS) NETCARD ON (NETCARD.IP = S.IP AND NETCARD.ADDRESS = S.IP)
                 LEFT JOIN MONITOR_SERVER_LOAD_AVERAGE AVERAGE ON AVERAGE.IP = S.IP
        GROUP BY S.ID,
                 S.IP,
                 S.SERVER_NAME,
                 S.SERVER_SUMMARY,
                 S.IS_ONLINE,
                 S.CONN_FREQUENCY,
                 S.INSERT_TIME,
                 S.UPDATE_TIME,
                 O.OS_NAME,
                 NETCARD.DOWNLOAD_BPS,
                 NETCARD.UPLOAD_BPS,
                 AVERAGE.FIFTEEN
        ORDER BY S.ID
    </select>

</mapper>
