<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.ui.business.web.dao.IMonitorTcpDao">

    <!-- TCP正常率统计 -->
    <select id="getTcpNormalRateStatistics" resultType="java.util.Map">
        SELECT tmp.tcpSum                                                       AS tcpSum,
               tmp.tcpConnectSum                                                AS tcpConnectSum,
               tmp.tcpDisconnectSum                                             AS tcpDisconnectSum,
               tmp.tcpUnsentSum                                                 AS tcpUnsentSum,
               IFNULL(round(tmp.tcpConnectSum * 100 / tmp.tcpSum, 2), '100.00') AS tcpConnectRate
        FROM (
                 SELECT COUNT(ID)                                                      AS tcpSum,
                        IFNULL(SUM(CASE WHEN mar.`STATUS` = '1' THEN 1 ELSE 0 END), 0) AS tcpConnectSum,
                        IFNULL(SUM(CASE WHEN mar.`STATUS` = '0' THEN 1 ELSE 0 END), 0) AS tcpDisconnectSum,
                        IFNULL(SUM(CASE WHEN mar.`STATUS` is null OR mar.`STATUS` = '' THEN 1 ELSE 0 END),
                               0)                                                      AS tcpUnsentSum
                 FROM MONITOR_TCP mar) tmp
    </select>

</mapper>
