<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.ui.business.web.dao.IMonitorDbDao">

    <!-- 数据库正常率统计 -->
    <select id="getDbNormalRateStatistics" resultType="java.util.Map" databaseId="mysql">
        SELECT tmp.dbSum                                                      AS dbSum,
               tmp.dbConnectSum                                               AS dbConnectSum,
               tmp.dbDisconnectSum                                            AS dbDisconnectSum,
               tmp.dbUnsentSum                                                AS dbUnsentSum,
               IFNULL(ROUND(tmp.dbConnectSum * 100 / tmp.dbSum, 2), '100.00') AS dbConnectRate
        FROM (SELECT COUNT(mar.ID)                                                   AS dbSum,
                     IFNULL(SUM(CASE WHEN mar.IS_ONLINE = '1' THEN 1 ELSE 0 END), 0) AS dbConnectSum,
                     IFNULL(SUM(CASE WHEN mar.IS_ONLINE = '0' THEN 1 ELSE 0 END), 0) AS dbDisconnectSum,
                     IFNULL(SUM(CASE WHEN mar.IS_ONLINE IS NULL OR mar.IS_ONLINE = '' THEN 1 ELSE 0 END),
                            0)                                                       AS dbUnsentSum
              FROM MONITOR_DB mar) tmp
    </select>

</mapper>
