<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.monitoring.ui.business.web.dao.IMonitorServerOsDao">

    <!-- 服务器类型统计 -->
    <select id="getServerOsTypeStatistics" resultType="java.util.Map" databaseId="mysql">
        SELECT tmp.serverSum                                 AS serverSum,
               tmp.windowsSum                                AS windowsSum,
               tmp.linuxSum                                  AS linuxSum,
               tmp.serverSum - tmp.windowsSum - tmp.linuxSum AS otherSum
        FROM (SELECT COUNT(1)  AS serverSum,
                     IFNULL(SUM(IF(LOCATE('Windows', ms.OS_NAME) OR LOCATE('windows', ms.OS_NAME), 1, 0)),
                            0) AS windowsSum,
                     IFNULL(SUM(IF(LOCATE('Linux', ms.OS_NAME) OR LOCATE('linux', ms.OS_NAME), 1, 0)),
                            0) AS linuxSum
              FROM MONITOR_SERVER_OS ms) tmp
    </select>

</mapper>
