##############################################server配置#################################################
server:
  port: 80
  ssl:
    enabled: false
    #你生成的证书名字
    #key-store: classpath:monitoring.p12
    #密钥库密码
    #key-store-password: 19920720
    #key-store-type: PKCS12
    #别名
    #key-alias: selfsigned_localhost_sslserver


###############################################数据源配置##################################################
spring:
  datasource:
    druid:
      #数据源配置
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3307/phoenix?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=GMT%2b8&useUnicode=true&characterEncoding=utf-8&autoReconnect=true&failOverReadOnly=false&rewriteBatchedStatements=true
      username: root
      password: phoenix@2025


  ############################################thymeleaf配置###############################################
  thymeleaf:
    cache: true


##############################################phoenix配置#################################################
phoenix:
  auth:
    type: self
    #登录认证配置
    self-auth:
      login-captcha:
        #是否启用验证码
        enable: true