<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>告警记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <style type="text/css">
        /* 让layui的table表格在同一单元格换行显示 */
        .layui-table-cell {
            height: auto;
        }
    </style>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">告警类型</label>
                    <div class="layui-input-block">
                        <select name="type">
                            <option value="">所有</option>
                            <option value="SERVER">服务器</option>
                            <option value="NET">网络</option>
                            <option value="INSTANCE">应用</option>
                            <option value="CUSTOM">自定义</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">告警级别</label>
                    <div class="layui-input-block">
                        <select name="level">
                            <option value="">所有</option>
                            <option value="INFO">消息</option>
                            <option value="WARN">警告</option>
                            <option value="ERROR">错误</option>
                            <option value="FATAL">致命</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">告警标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">告警内容</label>
                    <div class="layui-input-block">
                        <input type="text" name="content" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="alarm-record-list-table-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="alarm-record-list-table" lay-filter="alarm-record-list-table"></table>
            <script type="text/html" id="imgTpl">
                <img style="display: inline-block; width: 50%; height: 100%;" src={{ d.avatar }}>
            </script>
            <script type="text/html" id="list-table-toolbar">
                <div class="layui-btn-container">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-event="batchdel">删除</button>
                </div>
            </script>
            <script type="text/html" id="alarm-record-list-table-toolbar">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
<script src="./js/common.js" th:src="@{/js/common.js}" charset="utf-8"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script charset="utf-8" th:inline="javascript">
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function () {
        var $ = layui.$, admin = layui.admin, form = layui.form, table = layui.table;
        table.render({
            elem: '#alarm-record-list-table',
            url: layui.setter.base + 'monitor-alarm-record/get-monitor-alarm-record-list',
            toolbar: '#list-table-toolbar',
            request: {
                pageName: 'current',//页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200,//规定成功的状态码，默认：0
                msgName: 'msg',//规定状态信息的字段名称，默认：msg
                countName: 'count', //规定数据总数的字段名称，默认：count
                dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    'code': res.code, //解析接口状态
                    'msg': res.msg, //解析提示文本
                    'count': res.data.total, //解析数据长度
                    'data': res.data.records //解析数据列表
                };
            },
            done: function () {
                $('[data-field="type"]').children().each(function () {
                    if ($(this).text() === 'SERVER') {
                        $(this).text("服务器");
                    }
                    if ($(this).text() === 'NET') {
                        $(this).text("网络");
                    }
                    if ($(this).text() === 'INSTANCE') {
                        $(this).text("应用");
                    }
                    if ($(this).text() === 'CUSTOM') {
                        $(this).text("自定义");
                    }
                });
                $('[data-field="level"]').children().each(function () {
                    if ($(this).text() === 'INFO') {
                        $(this).text("消息");
                    }
                    if ($(this).text() === 'WARN') {
                        $(this).text("警告");
                    }
                    if ($(this).text() === 'ERROR') {
                        $(this).text("错误");
                    }
                    if ($(this).text() === 'FATAL') {
                        $(this).text("致命");
                    }
                });
                $('[data-field="smsStatus"]').children().each(function () {
                    if ($(this).text() === '0') {
                        $(this).text("失败");
                    }
                    if ($(this).text() === '1') {
                        $(this).text("成功");
                    }
                    if ($(this).text() === '' || $(this).text() === null) {
                        $(this).text("未发送");
                    }
                });
                $('[data-field="mailStatus"]').children().each(function () {
                    if ($(this).text() === '0') {
                        $(this).text("失败");
                    }
                    if ($(this).text() === '1') {
                        $(this).text("成功");
                    }
                    if ($(this).text() === '' || $(this).text() === null) {
                        $(this).text("未发送");
                    }
                });
                $('[data-field="way"]').children().each(function () {
                    $(this).html($(this).text().replace('MAIL', '邮件').replace('SMS', '短信').replace(';', '<br>'));
                });
                $('[data-field="phone"]').children().each(function () {
                    $(this).html($(this).text().replace(';', '<br>'));
                });
                $('[data-field="mail"]').children().each(function () {
                    $(this).html($(this).text().replace(';', '<br>'));
                });
            },
            cols: [
                [{
                    type: 'checkbox'
                }, {
                    field: 'id',
                    width: 80,
                    title: 'ID',
                    sort: !0
                }, {
                    field: 'type',
                    width: 110,
                    title: '告警类型',
                    sort: !0
                }, {
                    field: 'way',
                    width: 110,
                    title: '告警方式',
                    sort: !0
                }, {
                    field: 'level',
                    width: 110,
                    title: '告警级别',
                    sort: !0
                }, {
                    field: 'title',
                    title: '告警标题',
                    width: 110,
                    sort: !0
                }, {
                    field: 'content',
                    minWidth: 350,
                    title: '告警内容',
                    sort: !0
                }, {
                    field: 'smsStatus',
                    width: 80,
                    title: '短信',
                    sort: !0
                }, {
                    field: 'mailStatus',
                    width: 80,
                    title: '邮件',
                    sort: !0
                }, {
                    field: 'phone',
                    width: 120,
                    title: '手机号码',
                    sort: !0
                }, {
                    field: 'mail',
                    title: '电子邮箱',
                    sort: !0
                }, {
                    field: 'updateTime',
                    minWidth: 160,
                    title: '告警时间',
                    sort: !0
                }/*, {
                    field: 'updateTime',
                    minWidth: 180,
                    title: '更新时间',
                    sort: !0
                }*/, {
                    title: '操作',
                    width: 85,
                    align: 'center',
                    fixed: 'right',
                    toolbar: '#alarm-record-list-table-toolbar'
                }]
            ],
            page: !0,
            limit: 15,
            height: 'full-150'
        });
        //监听搜索
        form.on('submit(alarm-record-list-table-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('alarm-record-list-table', {
                where: field
            });
        });
        //头工具栏事件
        table.on('toolbar(alarm-record-list-table)', function (obj) {
            switch (obj.event) {
                case 'batchdel':
                    var checkStatus = table.checkStatus('alarm-record-list-table'), checkData = checkStatus.data; //得到选中的数据
                    if (checkData.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('确定删除吗？', function (index) {
                        admin.req({
                            type: 'post',
                            url: ctxPath + 'monitor-alarm-record/delete-monitor-alarm-record',
                            data: JSON.stringify(checkStatus.data),
                            dataType: 'json',
                            contentType: 'application/json;charset=utf-8',
                            headers: {
                                [[${_csrf.headerName}]]: [[${_csrf.token}]]
                            },
                            success: function (result) {
                                var data = result.data;
                                if (data === webConst.SUCCESS) {
                                    table.reload('alarm-record-list-table'); //数据刷新
                                    layer.msg('删除成功！', {icon: 6});
                                } else {
                                    layer.msg('删除失败！', {icon: 5, shift: 6});
                                }
                            },
                            error: function () {
                                layer.msg('系统错误！', {icon: 5, shift: 6});
                            }
                        });
                    });
                    break;
            }
        });
        //监听工具条
        table.on('tool(alarm-record-list-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定删除吗？', function (index) {
                    admin.req({
                        type: 'post',
                        url: ctxPath + 'monitor-alarm-record/delete-monitor-alarm-record',
                        data: JSON.stringify([data]),
                        dataType: 'json',
                        contentType: 'application/json;charset=utf-8',
                        headers: {
                            [[${_csrf.headerName}]]: [[${_csrf.token}]]
                        },
                        success: function (result) {
                            var data = result.data;
                            if (data === webConst.SUCCESS) {
                                obj.del();
                                table.reload('alarm-record-list-table'); //数据刷新
                                layer.msg('删除成功！', {icon: 6});
                            } else {
                                layer.msg('删除失败！', {icon: 5, shift: 6});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误！', {icon: 5, shift: 6});
                        }
                    });
                });
            }
        });
    });
</script>
</body>
</html>