.home-i {
    font-size: 15px;
    float: right;
}

.layui-icon-server {
    background-image: url("../images/icon16/server-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}

.layui-icon-db {
    background-image: url("../images/icon16/database-16.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 14px;
}