<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>服务器详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="./style/admin.css" th:href="@{/style/admin.css}" media="all">
    <link rel="stylesheet" href="./style/myself.css" th:href="@{/style/myself.css}" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="./js/html5.min.js" th:src="@{/js/html5.min.js}"></script>
    <script src="./js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8" th:inline="javascript">
        var ctxPath = /*[[@{/}]]*/'';
        var tokenValue = /*[[${_csrf.token}]]*/'';
        // 应用实例表的主键ID
        var id = [[${id}]];
        // IP地址
        var ip = [[${ip}]];
    </script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">图表</li>
                <li>概要</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-card">
                        <form class="layui-form layui-card-header layuiadmin-card-header-auto layui-card-header-my">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">时间范围(T)</label>
                                    <div class="layui-input-block">
                                        <select name="time" id="time" lay-filter="time">
                                            <option value="hour">1小时</option>
                                            <option value="day">1天</option>
                                            <option value="week">1周</option>
                                            <option value="month">1月</option>
                                            <option value="halfYear">6月</option>
                                            <option value="year">1年</option>
                                            <option value="all">全部</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space20">
                                <div class="layui-col-md8">
                                    <div class="layadmin-dataview-my-330px" style="border:solid 1px #000;"
                                         id="get-server-cpu-info">aaa
                                    </div>
                                    <div class="layadmin-dataview-my-330px" style="border:solid 1px #000;"
                                         id="get-server-memory-info">aaa
                                    </div>
                                </div>
                                <div class="layui-col-md4">
                                    <div class="layadmin-dataview-my-660px" style="border:solid 1px #000;"
                                         id="get-server-disk-info">aaa
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">线程</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="thread">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">类</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="class-loading">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">GC</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="gc">
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">VM</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="layui-row layui-col-space10" id="runtime">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script src="./js/echarts.theme.infographic.js" th:src="@{/js/echarts.theme.infographic.js}"></script>
<script src="./layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.config({
        base: ctxPath //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        serverDetail: 'server/serverDetail' // 服务器详情模块
    }).use(['index', 'element', 'form', 'serverDetail']);
</script>
</body>
</html>