<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imby.server.business.web.dao.IMonitorNetDao">

    <!-- 网络正常率统计 -->
    <select id="getNetNormalRateStatistics" resultType="java.util.Map" databaseId="mysql">
        select tmp.netSum                                                    as netSum,
               tmp.netConnectSum                                             as netConnectSum,
               tmp.netSum - tmp.netConnectSum                                as netDisconnectSum,
               ifnull(round(tmp.netConnectSum / tmp.netSum, 2) * 100, '100') as netConnectRate
        from (
                 select count(1)                  as netSum,
                        ifnull(sum(mn.STATUS), 0) as netConnectSum
                 from MONITOR_NET mn) tmp
    </select>

</mapper>
