<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imby.server.business.web.dao.IMonitorAlarmRecordDao">

    <!-- 获取最近7天的告警统计信息 -->
    <select id="getLast7DaysAlarmRecordStatistics" resultType="java.util.Map" databaseId="mysql">
        SELECT b.date              as date,
               b.total             as total,
               b.success           as success,
               b.total - b.success as fail
        FROM (
                 SELECT d.date,
                        COUNT(a.SMS_STATUS) + COUNT(a.MAIL_STATUS)        as total,
                        IFNULL(SUM(a.SMS_STATUS) + SUM(a.MAIL_STATUS), 0) as success
                 FROM (
                          SELECT DATE_SUB(CURDATE(), INTERVAL 0 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 1 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 2 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 3 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 4 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 5 DAY) date
                          UNION
                          SELECT DATE_SUB(CURDATE(), INTERVAL 6 DAY) date
                      ) d
                          LEFT JOIN MONITOR_ALARM_RECORD a ON (
                         DATE_FORMAT(d.DATE, '%Y-%m-%d') = DATE_FORMAT(a.UPDATE_TIME, '%Y-%m-%d'))
                 GROUP BY D.DATE
             ) b
    </select>

    <!-- 告警成功率统计 -->
    <select id="getAlarmRecordSuccessRateStatistics" resultType="java.util.Map" databaseId="mysql">
        select tmp.alarmRecordSum                                                            as alarmRecordSum,
               tmp.alarmRecordSuccessSum                                                     as alarmRecordSuccessSum,
               tmp.alarmRecordSum - tmp.alarmRecordSuccessSum                                as alarmRecordFailSum,
               ifnull(round(tmp.alarmRecordSuccessSum / tmp.alarmRecordSum, 2) * 100, '100') as alarmSucRate
        from (
                 select count(mar.SMS_STATUS) + count(mar.MAIL_STATUS)        as alarmRecordSum,
                        ifnull(sum(mar.SMS_STATUS) + sum(mar.MAIL_STATUS), 0) as alarmRecordSuccessSum
                 from MONITOR_ALARM_RECORD mar) tmp
    </select>

</mapper>
