<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.pifeng.server.business.web.dao.IMonitorServerCpuDao">

    <!-- 获取服务器详情页面服务器CPU图表信息 -->
    <select id="getServerDetailPageServerCpuChartInfo" parameterType="java.util.HashMap"
            resultType="com.gitee.pifeng.server.business.web.vo.ServerDetailPageServerCpuChartVo">
        SELECT AVG(CPU_USER) AS cpuUser,
        AVG(CPU_SYS) AS cpuSys,
        AVG(CPU_WAIT) AS cpuWait,
        AVG(CPU_NICE) AS cpuNice,
        AVG(CPU_COMBINED) AS cpuCombined,
        AVG(CPU_IDLE) AS cpuIdle,
        INSERT_TIME AS insertTime
        from MONITOR_SERVER_CPU
        WHERE IP = #{params.ip}
        <if test="params.startTime!=null and params.endTime!=null">
            AND INSERT_TIME BETWEEN #{params.startTime} AND #{params.endTime}
        </if>
        GROUP BY INSERT_TIME
    </select>

    <!-- 获取服务器详情页面服务器CPU信息 -->
    <select id="getServerDetailPageServerCpuInfo" parameterType="java.lang.String"
            resultType="com.gitee.pifeng.server.business.web.entity.MonitorServerCpu">
        SELECT *
        FROM MONITOR_SERVER_CPU msc
        WHERE IP = #{ip}
          AND INSERT_TIME =
              (SELECT INSERT_TIME FROM MONITOR_SERVER_DISK WHERE IP = #{ip} ORDER BY INSERT_TIME DESC LIMIT 1)
    </select>

</mapper>
